html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
:root {
  --primary-yellow: rgb(255, 196, 0);
  --primary-orange: rgb(255, 123, 0);
  --white: rgb(243, 243, 243);
  --black: rgb(29, 29, 29);
  --headlines-font: 'Indie Flower';

}
body {
  background-color: rgb(218, 218, 218);
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
}

.text--small {
  font-size: 1.45em;
  line-height: 1.4em;
  padding: 5px;
}

.text--medium {
  font-size: 2em;
  line-height: 1.85em;
  padding: 10px;
}

.text--large {
  font-size: 2.8em;
  line-height: 2.1em;
  padding: 10px;
  color: var(--black);
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 55px;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0); /* Modified in JQuery */
  z-index: 100;
}

.nav-bar__content {
  width: 100%;
  margin: 0 auto;
  line-height: 50px;
}

#hamburger__toggle {
  display: none;
}

#hamburger__toggle:checked + .nav-bar__list {
  width: 100%;
  visibility: visible;
  opacity: 1;
  background-color: var(--black);
}

#hamburger__icon {
  display: block;
  width: 60px;
  float: right;
  margin-right: 45px;
  top: -5px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger__icon > span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: var(--white);
  margin: 10px;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamburger__icon span:nth-child(1) {
  top: 0px;
}

#hamburger__icon span:nth-child(2),#hamburger__icon span:nth-child(3) {
  top: 18px;
}

#hamburger__icon span:nth-child(4) {
  top: 36px;
}

#hamburger__icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger__icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger__icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger__icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-bar__logo {
  padding-left: 10px;
  font-size: 3em;
  font-family: var(--headlines-font);
  color: white;
  text-decoration: none;
}

.nav-bar__list {
  text-align: center;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.nav-bar__item {
  display: block;
  border-bottom: 2px solid var(--white);
}

.nav-bar__link {
  display: block;
  position: relative;
  color: white;;
  text-decoration: none;
  font-size: 2.1em;
  transition: all 0.4s;
}

.nav-bar__link:hover{
  color: var(--primary-yellow);
  transition: all 0.4s;
}


.nav-bar__link:last-child {
  margin: 0;
}

.header-main {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../IMAGES/HeaderBG5.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.header-content {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;

}

.header__name {
  font-family: var(--headlines-font);
  font-size: 12em;
  margin-top: 10%;
  text-align: center;
  color: var(--primary-yellow);
  margin-bottom: 20px;
}


.header__text {
  text-align: center;
  color: hsl(23, 39%, 96%);
}

.btn {
  font-family: 'Open Sans';
  width: 200px;
  height: 38px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 1.8em;
  transition: all 0.25s;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.25s;
}

.header__scroll-button {
  background-color: var(--primary-orange);
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header__scroll-button:hover {
  color: var(--primary-orange);
  background-color: white;
}

.headline-wrapper {
  text-align: center;
  padding-top: 35px;
  margin-bottom: 40px;
}

.headline-wrapper--small {
  text-align: center;
  margin-bottom: 15px;
  
}

.section__headline {
  display: inline;
  font-family: 'Oxygen';
  color: var(--black);
  font-size: 6.7em;
  border-bottom: 10px solid var(--primary-orange);
  letter-spacing: 8.4px;
}

.about-us__text {
  color: var(--black);
  width: 87%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.about-us__team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.js-wp-01, .js-wp-0, .js-wp-1, .js-wp-2, .js-wp-3, .js-wp-4, .js-wp-5, .js-wp-6, .js-wp-7, .js-wp-8 {
  opacity: 0;
}
.animation {
  opacity: 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-7%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(7%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
}
.small__headline {
  display: inline;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-orange);
}

.team__person {
  color: var(--black);
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 15px;
  background-color: white;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.person__photo {
  width: 100%;
}

.person__name {
  font-weight: 600;
  font-size: 1.85em;
  border-bottom: 1px solid rgb(179, 179, 179);
  margin-top: 5px;
}

.person__profession {
  font-weight: 600;
}

.person__quote {
  padding: 4px 10px;
  font-style: italic;
}


.offer {
  color: black;
  background-color: rgb(247, 247, 247);
}

.offer__grid {
  display: grid;
  width: 95%;
  margin: 0 auto;
  margin-top: 100px;
  grid-template-columns: 1fr;
  grid-column-gap: 4%;
  grid-row-gap: 25px;
  padding-bottom: 85px;
  justify-items: center;
}

.offer__item {
  min-height: 170px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
}

.offer__item__image {
  min-height: 170px;
  width: 50.5%;
  float: left;
  margin-right: 5px;
  height: 100%;
}

.offer__item:nth-child(even) > .offer__item__image {
  float: right;
  margin-right: 0px;
  margin-left: 5px;
}

.offer__item__callories {
  display: table;
  content: '';
  margin: 0 auto;
  font-weight: 600;
}

.offer__item__description {
  text-align: center;
  padding: 0;
  
}

.opinions__text {
  text-align: center;
  color: var(--black);
  width: 86%;
  margin: 0 auto;
}

.owl-carousel {
  padding-top: 150px;
  padding-bottom: 80px;

}
.carousel__item {
  background-color: #eee;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  margin-bottom: 3px;
  margin-top: 2px;
}

.carousel__item__upper-part {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  align-items: center;
}

.carousel__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.carousel__name {
  font-weight: 600;
  color: var(--black);
}

.carousel__name-wrapper {
  display: inline-block;
  border-bottom: 2px solid var(--primary-yellow);
  width: 65%;
  margin-left: 10px;
}

.carousel__quote {
  font-size: 1.8em;
  line-height: 1.7em;
  color: var(--black);
  padding: 4px 20px 15px 20px;
  font-style: italic;
}

.contact {
  background-color: rgb(247, 247, 247);
}

.contact__content-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px 0px;
}

#map {
  order: 2;
  flex-basis: 90%;
  height: 350px;
  background-color: rgb(12, 141, 8);
  border-radius: 3px;
  margin-top: 50px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.contact__info {
  order: 1;
  color: var(--black);
  flex-basis: 90%;
  border-radius: 3px;
  text-align: center;
}

.contact__name {
  font-family: var(--headlines-font);
  font-size: 4.6em;
  padding: 0px 10px 15px 10px;
  line-height: initial;
  display: table;
  margin: 0 auto;
}

.contact__form {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(80, 80, 80, 0.055);
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px rgba(138,138,138,1);
}

.contact__form > * {
  font-family: 'Open Sans';
  margin-bottom: 13px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 3px;
  outline-color: var(--primary-orange);
  font-size: 1.6em;
}
.input--small {
  box-sizing: border-box;
  flex-basis: 49%;

  height: 35px;
}

.input--big {
  flex-basis: 100%;
  height: 35px;
}

.contact__form > textarea {
  flex-basis: 100%;
  min-height: 150px;
  resize: vertical;
}

.contact__form > input[type = "submit"] {
  margin: 0 auto;
  border-radius: 20px;
}

.form__submit-button{
  background-color: rgb(46, 46, 46);
  color: white;
  margin: 0 auto;
}

.form__submit-button:hover {
  color: var(--primary-orange);
}

@media only screen and (min-width: 768px) {
  .text--small {
    font-size: 1.6em;
    line-height: 1.5em;
    padding: 5px;
  }

 .header__name {
  margin-top: 35%;
 }

 .hamburger__label {
   display: none;
 }

.header-content {
  margin-left: 10%;
}

 .nav-bar__list {
  float: right;
  visibility: visible;
  opacity: 1;
  width: initial;
  border: none;
 }

.nav-bar__item {
  display: inline-block;
  margin-right: 22px;
  border: none;
}

.nav-bar__content {
  width: 95%;
}

.nav-bar__link {
  display: initial;
  font-size: 1.65em;
}

.nav-bar__link:hover::after{
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s;
}

.nav-bar__link::after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: var(--primary-yellow);
  content: '';
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s;
}

.offer__item {
  max-width: 800px;
}
.offer__item__image {
  width: 61.5%;
}

.text--small {
  font-size: 1.6em;
  line-height: 1.5em;
  padding: 5px;

}
.text--medium {
  font-size: 2em;
  line-height: 1.85em;
  padding: 10px;
}

.text--large {
  font-size: 2.8em;
  line-height: 2.1em;
  padding: 10px;
}
}

@media only screen and (min-width: 1080px) {
.header-main {
  background-position: initial;
}

.offer__grid{

  grid-template-columns: 1fr 1fr;
} 

.about-us__text {
  width: 70%;
}

.opinions__text {
  width: 70%;
}

offer__item {
  max-width: initial;
}

.contact__content-wrapper {
  width: 95%;
}

#map {
  height: 540px;
  margin-top: initial;
  order: 1;
  flex-basis: 45%;
}

.contact__info {
  flex-basis: 45%;
}

.offer__item {
  justify-self: right;
}

.offer__item:nth-child(even) {
  justify-self: left;
}
}

@media only screen and (min-width: 1440px) {
  .nav-bar__content {
    width: 70%;
  }

  .about-us__text {
    width: 55%;
  }

  .opinions__text {
    width: 55%;
  }
}