html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:root {
  --primary-yellow: rgb(255, 196, 0);
  --primary-orange: rgb(255, 123, 0);
  --white: rgb(243, 243, 243);
  --black: rgb(29, 29, 29);
  --headlines-font: 'Indie Flower';

}
body {
  background-color: rgb(218, 218, 218);
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
}

.text--small {
  font-size: 1.6em;
  padding: 5px;

}
.text--medium {
  font-size: 2em;
  line-height: 1.85em;
  padding: 10px;
}

.grid {
}
.nav-bar {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 20%;
  grid-template-areas:
  '. nav-bar__logo nav-bar__list .';
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 143, 0, 1);
  align-items: center;
  z-index: 1;
}

.nav-bar__logo {
  grid-area: nav-bar__logo;
  font-size: 3em;
  font-family: var(--headlines-font);
  color: white;
  text-decoration: none;
  justify-self: start;
}
.nav-bar__list {
  grid-area: nav-bar__list;
  justify-self: end;
}

.nav-bar__item {
  display: inline-block;
  margin-right: 22px;

}

.nav-bar__link {
  position: relative;
  color: white;;
  text-decoration: none;
  font-size: 1.6em;
  transition: all 0.4s;
}

.nav-bar__link:hover{
  color: var(--primary-yellow);
  transition: all 0.4s;
}
.nav-bar__link:hover::after{
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s;
}

.nav-bar__link::after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: var(--primary-yellow);
  content: '';
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s;
}

.nav-bar__link:last-child {
  margin: 0;
}

.header-main {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../IMAGES/HeaderBG5.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header-content {
  display: flex;
  position: relative;
  top: 25%;
  max-width: 650px;
  flex-direction: column;
  margin-left: 10%;
  border-radius: 5px;
}

.header__name {
  font-family: var(--headlines-font);
  font-size: 12em;
  text-align: center;
  color: var(--primary-yellow);
  margin-bottom: 20px;
}


.header__text {
  text-align: center;
}

.btn {
  font-family: 'Open Sans';
  width: 200px;
  height: 38px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 1.8em;
  transition: all 0.25s;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.25s;
}

.header__scroll-button {
  background-color: var(--primary-orange);
  color: white;
  margin: 0 auto;
}

.header__scroll-button:hover {
  color: var(--primary-orange);
  background-color: white;
}

.about-us {
  height: 1000px;
}

.headline-wrapper {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}

.section__headline {
  display: inline;
  font-family: 'Oxygen';
  color: var(--black);
  font-size: 6.7em;
  border-bottom: 10px solid var(--primary-orange);
}

.about-us__text {
  color: var(--black);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 160px;
}

.about-us__team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team__person {
  color: var(--black);
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 15px;
  border: 1px solid rgb(184, 184, 184);
  background-color: white;
  align-items: center;
}

.person__photo {
  width: 100%;
}

.person__name {
  font-weight: 600;
  font-size: 1.85em;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.person__profession {
  font-weight: 600;
}

.person__quote {
  padding: 4px 10px;
  font-style: italic;
}

/* .header-main:before {
  content: "";
  position: fixed;
  left: -5%;
  right: 0%;
  top: -5%;
  z-index: -1;

  display: block;
  background-image: url(../IMAGES/HeaderBG2.jpeg);
  background-size:cover;
  width: 110%;
  height: 110%;

  filter: blur(0px);
} */